@model IEnumerable<comp2084_assignment1.Models.Albums>

@{
    ViewData["Title"] = "Index";
}

<h1>Albums</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Album Art
            </th>
            <th>
                Album
            </th>
            <th>
                Release Year
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (String.IsNullOrEmpty(item.AlbumArt))
            {
                <td>
                    <img src="~/images/placeholderAlbumCover.png" alt="Placeholder Album Cover" height="50" width="50" />
                </td>
            }
            else
            {
                <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.AlbumArt)" alt="Placeholder Album Cover" height="50" width="50" />
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
