@model IEnumerable<comp2084_assignment1.Models.Songs>

@{
    ViewData["Title"] = "Index";
}

<h1>All Songs</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
            </th>
            <th>
                Song
            </th>
            <th>
                Track Length
            </th>
            <th>
                Spotify Link
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-primary">
            @if(String.IsNullOrEmpty(item.Album.AlbumArt))
            {
            <td>
                <img src="~/images/placeholderAlbumCover.png" alt="Placeholder Album Cover" height="50" width="50" />
            </td>
            }
            else
            {
            <td>
                <img src="~/images/@Html.DisplayFor(modelItem => item.Album.AlbumArt)" alt="Placeholder Album Cover" height="50" width="50" />
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLength)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.SpotifyLink)" target="_blank"><img src="~/images/spotify.png" alt="Spotify Logo" height="25" width="25"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.AlbumName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>


